    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    </nav>
    <router-outlet></router-outlet>


    ---
    <app-countdown [expiry_date]="'2016-11-19 19:26:44'"></app-countdown>
    <app-countdown [expiry_date]="'2017-12-19 19:26:44'"></app-countdown>
    <app-countdown [expiry_date]="'2016-12-19 19:26:44'"></app-countdown>
    <app-countdown [expiry_date]="'2016-11-30 19:26:44'"></app-countdown>
    <app-countdown [expiry_date]="'2016-12-31 19:26:44'"></app-countdown>
    ---
